.animation-bar {
  position: relative;
  background: white;
  padding: 0 4%;
}

img {
  height: auto;
  margin: 0;
  max-width: 100%;
  padding: 0;
  vertical-align: bottom;
}

.pixel {
  width: 10%;
}

.train {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 10%;
}

.sticker-man {
  bottom: 0;
  left: 200px;
  position: absolute;
  width: 7%;
  animation: sticker .5s infinite alternate ease-in-out
}

@keyframes sticker {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    // -webkit-transform: scaleX(-1);
    // transform: scaleX(-1);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

.train.left {
  -webkit-transform: rotateY(180deg);
  -webkit-animation: return 15s linear infinite;
  animation: return 15s linear infinite;
  transform: rotateY(180deg);
}

.train.right {
  -webkit-animation: return-right 15s linear infinite;
  animation: return-right 15s linear infinite;
}

@-webkit-keyframes return {
  0% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    visibility: visible;
  }
  49% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    visibility: visible;
  }
  50% {
    left: 100%;
    visibility: hidden;
  }
  100% {
    left: 0;
    visibility: hidden;
  }
}
@keyframes return {
  0% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    visibility: visible;
  }
  49% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    visibility: visible;
  }
  50% {
    left: 100%;
    visibility: hidden;
  }
  100% {
    left: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes return-right {
  0% {
    visibility: hidden;
  }
  50% {
    left: 100%;
    visibility: hidden;
  }
  51% {
    visibility: visible;
  }
  100% {
    left: 0;
    visibility: visible;
  }
}
@keyframes return-right {
  0% {
    visibility: hidden;
  }
  50% {
    left: 100%;
    visibility: hidden;
  }
  51% {
    visibility: visible;
  }
  100% {
    left: 0;
    visibility: visible;
  }
}

@-webkit-keyframes hachi {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
@keyframes hachi {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
