.navbar {
  padding: 10px 4%;
  padding-bottom: 0;
  grid-gap: 6rem;
  background: white;
  .logo-div {
    display: flex;
    align-items: center;
    grid-gap: 15px;
    font-size: 1.5em;
    .chubby {
      color: #5cb75bbf;
      display: inline-flex;
      align-items: center;
    }
  }
}

.logo {
  border-radius: 50%;
  width: 3rem;
}