@font-face {
  font-family: "PlayfairDisplay";
  src: url("./fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf");
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("./fonts/PlayfairDisplay/PlayfairDisplay-SemiBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("./fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf");
  font-style: italic;
}
